/* カード全体のスタイル */
#bingo{
    width: 340px;
    margin: 0 auto;
}

/* B I N G Oと番号のスタイル */
#bingo th,
#bingo td {
    text-align: center;
    font-weight: normal;
}

/* B I N G O の文字のスタイル */
#bingo th{
    color: #B78D4A;
}

/* 番号のスタイルを設定 */
#bingo td {
    width: 60px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    
    border-radius: 1.5rem 1.5rem 0 0;
    color: #fff;
    background-color: #B78D4A;
    border: 2px solid #B78D4A;
}

/* 番号をチェックした時に変更するクラス、スタイルを設定 */
#bingo td.check {
    color: #B78D4A;
    background-color: #F0F0F0;
}

/* 番号をマウスオーバーした時にポインタを指矢印に変更 */
#bingo td:hover {
    cursor: pointer;
    cursor: hand;
}

/* 作成ボタンのスタイル */
p#button{
    text-align: center;
}

/* 作成ボタンのスタイル */
.wrapper{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 1.5rem;
}


.question {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    justify-content: column;
}

.question li {
    list-style: none;
    text-align: center;
    background-color: #f0f0f0d0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 1.5rem;
    border: 1px solid #acbdde;
}

